<div *ngIf="!editorOpen">
    <div id="api-breadcrumb-bar">
        <breadcrumbs>
            <li breadcrumb label="Settings" [route]="[ '/settings' ]"></li>
            <li breadcrumb label="Validation" class="active"></li>
        </breadcrumbs>
    </div>
    <page-error [error]="pageError" *ngIf="pageError"></page-error>
    <div class="container-fluid" *ngIf="!pageError">
        <div class="row" style="min-height: 35px"></div>
        <div class="row row-cards-pf">
            <div class="col-xs-12 col-sm-2">
                <settings-nav tab="categories"></settings-nav>
            </div>
            <div class="col-xs-12 col-sm-8 validation-profiles">
                <h1>Categories</h1>
                <p>
                    Validation profiles provide a way to group validation rules, for issues, allowing different
                    severity assignments for rules in each validation profile.
                </p>
                <div class="subheader">
                    <span>Categories</span>
                    <button class="icon-button pull-right" title="Create a new categories profile" (click)="editCategory()"><span class="pficon pficon-add-circle-o"></span></button>
                </div>
                <div class="profiles" >
                    <div class="validation-profile" *ngFor="let category of categories">
                        <div class="header" >
                            <div class="name"><span>{{ category.name }}</span></div>
                            <div class="description">{{ category.description }}</div>
                            <div class="default"></div>
                            <div class="actions">
                                <div class="dropdown dropdown-kebab-pf">
                                    <button aria-expanded="true" aria-haspopup="true" class="btn btn-link dropdown-toggle" data-toggle="dropdown" type="button">
                                        <span class="fa fa-ellipsis-v"></span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li >
                                            <a (click)="editCategory(category)"><span class="fa fa-fw fa-pencil-square-o"></span><span>Edit</span></a>
                                        </li>
                                        <li class="divider" role="separator"></li>
                                        <li >
                                            <a (click)="deleteCategory(category)"><span class="fa fa-fw fa-trash"></span><span>Delete</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<profile-categories-editor *ngIf="editorOpen" (onSave)="saveCategory()" (onClose)="editorOpen=false" [profile]="editorModel"></profile-categories-editor>
